html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;

    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}
