$main-color: #00807f;
$secondary-color: #00007c;

$white: #fff;
$black: #000;
$grey: #fafafa;
$silver: #c0c0c0;
$light-silver: lighten($silver, 20%);
$red: #cc0707;
$green: #07cc87;
$yellow: #ccc207;
