@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  font-family: 'Gentium Book Plus', serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
